* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a0808be;
    width: 100%;
}

main {
    border: 2px solid #fff;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.design_button {
    font-size: 1.5rem;
    background-color: white;
    color:rgba(0, 0, 0, 0.89);
    font-weight: 520;
    border-top: 5px solid rgb(163, 172, 29);
    border-bottom: 5px solid rgb(163, 172, 29);
    border-right-color: white;
    border-left-color: white;
    padding: 0 20px;
    height: 48px;
    position: relative;
    text-transform: uppercase;
}

.design_button::before,
.design_button::after {
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: white;
    border-radius: 50%;
    top: -5px;
    content: " ";
    height: 48px;
    position: absolute;
    width: 48px;
    border:5px solid rgb(163, 172, 29);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
}

.design_button::before {
    right: -24px;
    border-left-color: rgb(163, 172, 29);
    border-bottom-color: rgb(163, 172, 29);
}

.design_button::after {
    left: -24px;
    border-left-color: rgb(163, 172, 29);
    border-top-color: rgb(163, 172, 29);
}

.design_button:hover,
.design_button.hover {
    background-color: #fff;
}

.design_button:hover::before,
.design_button.hover::before,
.design_button:hover::after,
.design_button.hover::after{
    -webkit-transform: rotateZ(227deg);
    transform: rotate(227deg);
}














